{% extends "layout.html" %}

{% block title %}
    Buy
{% endblock %}

{% block main %}
    <form action="/buy" method="post">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="share" placeholder="Share-Code" type="text">
            <input autocomplete="off" autofocus class="form-control number" name="quantity" placeholder="Quantity" type="number">
        </div>
        <button class="btn btn-primary" type="submit">Buy</button>
    </form>
<div class="section">

        <table>
            <thead>
                <tr>
                    <th>Company</th>
                    <th>Amount</th>
                    <th>Price(per share)</th>
                    <th>Price(total)<br></th>
                </tr>
            </thead>
            <tbody>
                {% if quantity %}
                <tr>
                    <td>{{ sharename }}</td>
                    <td>{{ quantity }}</td>
                    <td>{{ shareprice }}</td>
                    <td style="color: red;">{{ "-"~lost }}</td>
                </tr>
                {% endif %}
</div
<footer class="small text-center text-muted">
    Data provided for free by <a href="https://iextrading.com/developer">IEX</a>. View <a href="https://iextrading.com/api-exhibit-a/">IEX’s Terms of Use</a>.
</footer>
{% endblock %}
