{% extends "layout.html" %}

{% block title %}
    Wallet
{% endblock %}

{% block main %}
<h1>Wallet</h1>
<div class="wallet">
        <table id="wallet">
            <thead>
                <tr>
                    <th>Company</th>
                    <th>Share-Code</th>
                    <th>Amount</th>
                    <th>Value(per share)</th>
                    <th>Total Value<br></th>
                </tr>
            </thead>
            <tbody>
                {% for i in range(0,(wallet)|length ) %}
                <tr>
                    <td>{{ wallet[i].name }}</td>
                    <td>{{ wallet[i].share }}</td>
                    <td>{{ wallet[i].quantity }}</td>
                    <td>{{ "USD"~price[i] }}</td>
                    <td>{{ "USD"~pricetotal[i] }}</td>

                </tr>
                {% endfor %}
</div>
{% endblock %}

